{% extends 'first/menu.html' %}
{% load static %}
{% block title %}Annapurna{% endblock %}
{% block body_block %}


<div id="slider">
		<figure>
			<img src="{% static 'img/it1.jpg' %}">
			<img src="{% static 'img/it2.jpg' %}">
			<img src="{% static 'img/it3.jpg' %}">
			<img src="{% static 'img/it2.jpg' %}">
			<img src="{% static 'img/it1.jpg' %}">
		</figure>
</div>

<section class="annapurnabase" style="font-family: 'Lato', 'Arial', sans-serif; padding-top: 30px;">


        <h2>Annapurna Base Camp trek.</h2>
               
        <p class="long-copy">
            <strong>Trip Overview:</strong> <br>
            Annapurna Base Camp (ABC) Trek is one of the most popular treks in Nepal. It is quite easy and shorter trek
            than other high altitude treks in Nepal. This trek incorporates diverse terrain, culture, and wildlife along
            with the most spectacular and close up view of Annapurna range, Machhapuchhre, Hiunchuli, and Dhaulagiri.
            You will spot at times high cascading waterfalls. And, you will get to learn about people of different
            ethnicity, especially Gurung people when visiting a mesmerizing village ‘Ghandruk’.
            There are different routes you can take on this trek, so you may not pass through Ghandruk. The trail is the
            same from Chomrung onwards but you can choose to include or not include Ghorepani Poon Hill and Ghandruk.
            Poon hill is a vantage point for the view of Annapurna plus other peaks and for sunrise and sunset. Also,
            ABC passes through MBC (Machhapuchhre Base Camp) which a great advantage as you can visit two base camps in
            one trip! Together with Annapurna Circuit, these trails welcome about seventy percent of the total trekkers
            visiting Nepal.

            <br>
            <br>
    
            <strong>Day to day itinerary:</strong> <br>
            <br>
            
            <div class="row">
            <button type="button" class="collapsible"><strong>Day 01 : Arrival in Kathmandu (1,300m/4,264ft)</strong> </button>
            <div class="content">
                <p style="font-weight: 500;">After arriving in Kathmandu, a representative from Travelfeet Nepal will pick us up from the airport and take us to our hotel. In the afternoon, we may take a rest or visit Travelfeet Nepal’s office. For dinner, you will be served authentic Nepalese cuisine which will introduce you to the country’s food culture.</p>
            </div>

            <button type="button" class="collapsible"><strong>Day 02 : Fly to Pokhara (827m/2,700ft), trek to Ghandruk (1940m/6360 ft): 30 minutes flight, 5 - 6 hours trek</strong></button>
            <div class="content">
                <p style="font-weight: 500;">We take an early morning flight to Pokhara, the beautiful lake city and catch great views of the Himalayas from the right side of our airplane. After landing in the Pokhara airport, we drive to Naya Pul (1 hour and 20 minutes) and start the trek. From Birethanti, we trek to Ghandruk, a beautiful village mostly inhabited by the Gurung community. If time permits, we also visit the Gurung museum today.  Overnight in Ghandruk.</p>
            </div>

            <button type="button" class="collapsible"><strong>Day 03 : Ghandruk to Chhomrong (2170m/7120ft): 5 - 6 hours</strong></button>
            <div class="content">
                <p style="font-weight: 500;">At this juncture, we climb up for around an hour up to Kimrungdanda. On the way, we can enjoy great views of Annapurna South, Hiunchuli, Fishtail Mountain (Machhapuchhre) and Ganggapurna. A steep descent takes us to the Kimrong Khola. After another steep ascent from Kimrong Khola to Chere Danda, we descend for a while and then it’s a gentle walk to Chhomrong. Chhomrong is a beautiful village located on the lap of the giant Annapurna massive. </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 04 : Chhomrong to Bamboo (2310m/7578ft): 4 - 5 hours</strong></button>
            <div class="content">
                <p style="font-weight: 500;">We descend via 2500 stone steps and cross the bridge above Chhomrong Khola. From here it is an uphill climb to Sinuwa. Next, we pass through a beautiful forest to Kuldihar followed by an easy downhill walk to Bamboo.</p>
            </div>

            <button type="button" class="collapsible"><strong>Day 05: Bamboo to Deurali (3230m/10,595ft): 3 - 4 hours</strong></button>
            <div class="content">
                <p style="font-weight: 500;">We pass through a bamboo forest which is damp and cold then ascend steadily with a few steep sections. It is only after reaching Himalaya Hotel that the forest opens up and we are out in the sun again with astounding views of the glacial river below. It is a steep climb up through a much drier forest before reaching Hinku Cave. From here we can see the trail drop closer to the river before climbing again to Deurali, the most scenic stretch of the day. The vegetation is sparser, allowing magical views of the valley, the river below, and the sheer rock-face cliffs above with bands of wispy waterfalls.</p>
            </div>

            <button type="button" class="collapsible"><strong>Day 06: Deurali to Annapurna Base Camp (4,130m/13,545ft) via Machhapuchhre Base Camp (3700m/12135ft): 5- 6 hours</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Climb gently through a river bed then over a steep trail over to the mountain side. The hike from Bagar to Machhapuchhre Base Camp is somewhat strenuous. From Machhapuchhre base camp we get excellent views of the majestic Machhapuchhre along with Mt. Hiunchuli, Annapurna South, Annapurna I, Annapurna III, Gandharvachuli and Gangapurna which is certainly a rewarding experience. The vegetation disappears on our way to ABC and the path widens as we enter the Annapurna sanctuary. From here, we get sensational views of the near-vertical south face of Annapurna towering above us. The sanctuary boasts of a dynamic view without anything impeding the 360-degree panorama. From the base camp we again get to savor mesmerizing views of the Machhapuchhre, Annapurna South , Annapurna I, Hiunchuli and other peaks. Overnight at Annapurna Base Camp.</p>
            </div>

            <button type="button" class="collapsible"><strong>Day 07: Annapurna Base Camp to Bamboo: 7 – 8 hours</strong></button>
            <div class="content">
                <p style="font-weight: 500;">From the Annapurna base camp we retrace our steps to Bamboo. Today’s trek is downhill, so it shouldn’t be very difficult. Besides, we will always have the company of the extraordinary landscape to cheer us up.   </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 08: Bamboo to Jhinu Danda (1760m/5770 ft): 5 - 6 hours</strong></button>
            <div class="content">
                <p style="font-weight: 500;">From Bamboo, it is an uphill trek to Kuldighar followed by a downhill walk to Chhomrong Khola. Then we climb the stone steps to Chhomrong. The trail then descends to Jhinu Danda, where we will be resting for the night. Today we will have an opportunity to enjoy the hot springs which is just a 15-20 minute downhill walk from Jhinu Danda to soothe our aching body. </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 09: Trek to Naya Pul then drive to Pokhara: 6 hours trek, 1 hour drive</strong></button>
            <div class="content">
                <p style="font-weight: 500;">On our way to Naya Pul from Jhinu Danda, we get to enjoy the amazing hill landscape of western Nepal. We have lunch on the way. Our trek will end at Naya Pul where we board our vehicle to Pokhara. </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 10: Fly to Kathmandu</strong></button>
            <div class="content">
                <p style="font-weight: 500;">We fly to Kathmandu in the afternoon. After arriving in Kathmandu, we will be escorted to our hotel. We enjoy the day leisurely or catch up on some last minute shopping or explore any landmarks we missed during our first day in Kathmandu. To celebrate the successful completion of our journey, we will have a farewell dinner in the evening.  </p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible"><strong>Cost Includes: </strong></button>
            <div class="content">
                <p style="font-weight: 500;">
                    • Airport / Hotel / Airport transfers by private vehicle. <br>
                    • Hotel Accommodation in Kathmandu (MAP). <br>
                    • Comprehensive per-departure information and trip dossiers. <br> 
                    • Gifts from Travelfeet Nepal. <br>
                    • Welcome/Fare well Nepali Dinner in Kathmandu. <br>
                    • First aid medical kit. <br> 
                    • 1 professional trekking guide and portors for the trek and his salary, meals, accommodations and insurance. <br> 
                    • Sagarmatha National Park Permits fee. <br>
                    • TIMS Fee- Trekkers' Information Management System. <br> 
                    • Full board meal in Trek(AP). <br> 
                    • All necessary paper works, office Service charge and all Government Taxes. <br>
                    • All ground transportation Private Vehicle. <br>
                </p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible"><strong>Cost Excludes: </strong></button>
            <div class="content">
                <p style="font-weight: 500;">
                    • Nepal entry visa fee, you can get Nepal visa upon arrival at the Airport. <br>
                    • International Airfare/Airport tax, City tour Sightseeing entry fees. <br>
                    • Tips and gratitude. <br>
                    • Any others expenses which are not mentioned in Price Includes section. <br> 
                    • International airfare to and from Kathmandu. <br>
                    • Travel and rescue insurance (compulsory) Additional Info. <br> 
                    • Confirmation will be received at time of booking. <br> 
                    • A current valid passport is required on the day of travel. <br> 
                    • Most travelers can participate. <br> 
                    • Not wheelchair accessible. <br> 
                    • Please advise any specific dietary requirements at time of booking. <br> 
                    • Vegetarian option is available, please advise at time of booking if required. <br> 
                    • A current valid passport is required on the day of travel. <br> 
                    • You can obtain Nepal visa on your arrival at the airport or other ports of entry. All visa requirements are the sole responsibility of the traveler. <br> 
                    • This is a private tour/activity. Only your group will participate. <br> 
            </div>
        </p>
</section>

<section class="quer" style="padding-top: 20px; background-color: #e6e4e4; text-align: center; padding-bottom: 35px;">
     <div class="row">
        <strong style="font-size: 30px;">Note: If you are not satisfied with the above itinerary you can message us and send us your tailor made itinerary.</strong>
     </div>
     <br>
     <br>
     <div class="row">
         <a href="{% url 'first:contact' %}"><strong style="font-size: 25px; text-decoration: none;">Click here!</strong></a>
     </div>

</section>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
        content.style.display = "none";
        } else {
        content.style.display = "block";
        }
    });
    }
    </script>   

{% endblock body_block %}

