{% extends 'first/menu.html' %}
{% load static %}
{% block body_block %}



    <div id="slider">
		<figure>
			<img src="{% static 'img/it1.jpg' %}">
			<img src="{% static 'img/it2.jpg' %}">
			<img src="{% static 'img/it3.jpg' %}">
			<img src="{% static 'img/it2.jpg' %}">
			<img src="{% static 'img/it1.jpg' %}">
		</figure>
</div>


<section class="annapurnabase" style="font-family: 'Lato', 'Arial', sans-serif; padding-top: 30px;">


        <h2>Annapurna Circuit Trek.</h2>
               
        <p class="long-copy">
            <strong style="font-weight: 600; font-size: 25px;">Trip Overview:</strong> <br>
            The Annapurna Circuit is a trek within the mountain ranges of central Nepal. The total length of the route varies between 160–230 km (100-145 mi), depending on where motor transportation is used and where the trek is ended. This trek crosses two different river valleys and encircles the Annapurna Massif. The path reaches its highest point at Thorung La pass (5416m/17769 ft), touching the edge of the Tibetan plateau. Practically all trekkers hike the route anticlockwise, as this way the daily altitude gain is slower, and crossing the high Thorong La pass is easier and safer. <br>
            <br>
            In addition to the Annapurna Circuit Trek, Annapurna Seven Passes Trek or Annapurna Seven Hills trek is also popular in the region. However, this is less traversed and is off the beaten path trek in the region. <br>
            The mountain scenery, seen at close quarters includes the Annapurna Massif (Annapurna I-IV), Dhaulagiri, Machhapuchhre, Manaslu, Gangapurna, Tilicho Peak, Pisang Peak, and Paungda Danda. Numerous other peaks of 6000-8000m in elevation rise from the Annapurna range.
            The trek begins at Besisahar or Bhulbhule in the Marshyangdi river valley and concludes in the Kali Gandaki Gorge. Besisahar can be reached after a seven-hour drive from Kathmandu. The trail passes along paddy fields and into subtropical forests, several waterfalls and gigantic cliffs, and various villages. <br>
            <br>
            Annapurna Circuit has often been voted as the best long-distance trek in the world, as it combined, in its old full form, a wide variety of climate zones from tropics at 600 m asl to the arctic at 5416 m asl at the Thorong La pass and cultural variety from Hindu villages at the low foothills to the Tibetan culture of Manang Valley and lower Mustang. Continuing construction of a road has shortened the trail and changed the villages. The Beisahar-Manag road has been built which passes through the trekking trail most of the time. With construction of the road, mountain biking is becoming popular, with Mustang in particular becoming one of the world's most popular mountain biking destinations.
            
            <br>
            <br>
            

            <strong style="font-weight: 600; font-size: 25px;">Day to day itinerary:</strong> <br>
            <br>
            
            <div class="row">
            <button type="button" class="collapsible"><strong>Day 01: Welcome to Kathmandu</strong> </button>
            <div class="content">
                <p style="font-weight: 500;">As you fly into Kathmandu, you'll have beautiful views over the valley, the Himalaya, and of the terraced fields below. After going through customs, a representative will be waiting to guide you through the initial culture shock of Kathmandu’s narrow, winding streets and get you settled into your hotel. Once you've settled in, head out and visit one of Kathmandu’s cultural highlights. In the evening, the tourist hub of Thamel is a good place to grab your first meal, with a variety of restaurants to chose from offering both Western and local Nepali dishes.</p>
            </div>

           
            <button type="button" class="collapsible"><strong>Day 02: Sightseeing Tour in Kathmandu Valley (Swayambhunath, Boudhanath and Pashupatinath Temple &Patan durbar square</strong></button>
            <div class="content">
                <p style="font-weight: 500;">On this day, you will enjoy the sightseeing tour. You will especially go around places listed in       UNESCO World Heritage Sites. Especially, you will go to Pashupatinath temple, a well-known Hindu temple dedicated to Lord Shiva which is situated on the coast of the Bagmati River. <br>
                    <br>
                    You will also visit Swayambhunath (Monkey temple) which is placed on the hill holds Buddha’s eyes on the four sides of the stupa. <br>
                    <br>
                    Boudhanath, another major Buddhist stupa on the earth; and Patan Durbar Square which allures visitors with its cultural and historical sets carved with beautiful art and architecture. Overnight at Kathmandu.
                    </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 03: Early in the morning drive to Kathmandu to Bhulbhule by private car or by local bus (840m): 7hr</strong></button>
            <div class="content">
                <p style="font-weight: 500;">This is the day when our actual trekking begins. We will drive to Bhulbhule from Kathmandu by private car local bus beside Trishuli River and Marsyangdi River. It takes around 7 hours to reach Bhulbhule. <br>
                    <br>
                    Before reaching Bhulbhule we will also walk on a suspension bridge and carry on walking through a magnificent terrace farm to get to the Ngadi community. At Bhulbhule, we will discover the views of Lamjung Himal, Manaslu, Peak 29 (NadiChuli), etc. Overnight at the tea house.
                     </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 04: Hiking up to Jajat village (1300m): 5hr</strong></button>
            <div class="content">
                <p style="font-weight: 500;">We will hike to Jagat village from Bhulbhule which takes up to 5 hours. On the way, we will notice the V-shape image of Marsyangdi valley. After that, we will walk on the crisscross path passing Syange and go down to the river bank. Also, we will walk down to the rocky Jagat village. <br>
                    <br>
                Jagat is a tiny village where Tamang, as well as Gurung inhabitants, live in. Overnight at teahouse.
                    </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 05: Hiking up to Danakyu(2300m): 5hr</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Moving ahead from Jagat, we will walk further on to Danakyu lying at the altitude of 2300m. Also, we will pass by the set called Bagarchhap taking approximately an hour after passing fir and pines wooded area. Also, here you can make a trip to a white-colored Gompa (monastery). <br>
                <br>
                At Danakyu, we will get to see the eye-catching views of Mt. Manaslu and Peak 29. Overnight at teahouse.
                    </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 06: Hiking up to Chame(District Headquarter of Manang) (2670m): 5hr</strong></button>
            <div class="content">
                <p style="font-weight: 500;">On this day, we will walk for around 5 hours to reach Chame. On the way, we will see the well-known Dudh Khola flowing from the south face of Mt Manaslu. Plus, we will notice the Marsyangdi swerving to the left side where dramatic peak sight of Annapurna II also enthralls you.
                    <br>
                    <br>
                    Then after, passing Fir woods, we will enter to the district headquarter of Manang district- Chame lying on the shore of the river. Overnight at teahouse.
                    </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 07: Hiking up to upper Pisang(3300m): 5hr </strong></button>
            <div class="content">
                <p style="font-weight: 500;">Our final point of this day is reaching Pisang lying at the altitude of3300m. We will start on walking early in the morning witnessing the amazing view of Lamjung Himal (6893m) along with the first rays of sun over the stunning peak is even more fascinating. A marvelous waterfall becomes visible as we reach Brathang Village.
                    <br>
                    <br>
                    Pisang is found in the heart of the Pisang peak. In addition, the views of the north-east peak of Pisang, as well as Annapurna II, appear magnificent. Moreover, we will see a long Mani wall next to the bridge before reaching Pisang. Overnight at the tea house.
                    </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 08: Hiking up to Ghyaru village and to see excellent view Annapurna two, Annapurna three,& Trek to Manang village(3540m): 6hr </strong></button>
            <div class="content">
                <p style="font-weight: 500;">On this day, we will trek to Ghyaru Village from Pisang. On the way, we will get to see fantastic views of Annapurna II and III. After that, we will stroll to Manang Village taking roughly 6 hours.
                    <br>
                    <br>
                    On this day, we will also notice the breathtaking track full of grasslands. The trail also bestows amazing vistas of the Annapurna Himalayan range. We will also ascend to the Nawal to arrest the best scene of Annapurna. Overnight at a tea house.
                    </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 09: Rest Day explore Manang village</strong></button>
            <div class="content">
                <p style="font-weight: 500;">We will rest in Manang village on this day to get properly accustomed to the high altitude and avoid altitude sickness. Optionally, we can explore around Manang. Witnessing Gangapurna Lake, visiting mountaineering school which gives basic mountaineering training are the major attractions of the place. Overnight at a tea house.</p>
            </div>

            <button type="button" class="collapsible"><strong>Day 10: Hiking up to Ledar(4200m): 4hr </strong></button>
            <div class="content">
                <p style="font-weight: 500;">On this day, we will walk for around 4 hours to reach Ledar located at the altitude of 4200m. While trekking, the breathtaking views of Annapurna will move along with you.
                    <br>
                    <br>
                    Furthermore, we can observe Himchuli, Peak 29 at our back. We will then climb passing by Gunsang settlement where we will cross Gundon River via a bridge made of wood to reach Ledar. Overnight at tea house.
                    </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 11: Hiking up to Thorung Phedi(4450m): 3hr </strong></button>
            <div class="content">
                <p style="font-weight: 500;">Today we will make way up steadily to an edge and then move down to the Marsyangdi River. After that, we will traverse through a wooden bridge. In addition, we have a slender track that move transversely to an uneven hill and after that ascend to Thorung La Phedi taking approximately 3 hours. Overnight at a tea house.
                    </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 12: Hiking up to Thorung -La pass(5416m) & Trek down to Muktinath: 8hr</strong></button>
            <div class="content">
                <p style="font-weight: 500;">We will walk downwards to the Marsyangdi River and pass through the river via a wooden bridge. Also, we will walk on the right coast of the river. After that, we will have a track that turns slender and moves crossways from side to side with a shaky incline and after that walk down to Thorung La Pass lying at 5416m.
                    <br>
                    <br>
                    Also, we will shift down to Muktinath meaning God of Salvation taking roughly 5 hours. Muktinath is regarded as a holy place for Buddhists as well as Hindus. Here you will observe water flowing from 108 fixed stone taps and a temple devoted to Lord Vishnu. Overnight at tea house
                    </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 13: Drive to Tatopani 5 to 6 hrs (2700m) by local bus</strong></button>
            <div class="content">
                <p style="font-weight: 500;">We will move from Muktinath to the arresting Kali Gandaki valley, at first through the withered area. We will also pass by settlements like Khingar as well as Jharkot filled with typical Tibetan architecture, we will be pleased with magnificent views of Nilgiri and Dhaulagiri en-route.
                    <br>
                    <br>
                    Likewise, we will carry on walking through apple orchards before reaching Marpha. Then as a final point, we will walk to Jomsom, a big set expanded next to both shores of the Kali Gandaki River. Overnight at tea house.
                    </p>
            </div>
            
            <button type="button" class="collapsible"><strong>Day 14  Mar: Early in the morning Tatopani to Pokhara by local bus</strong></button>
            <div class="content">
                <p style="font-weight: 500;">This day, you can come to Pokhara on local bus from Tatopani and Beni. It will take 5 to 6 hours. You will be in Pokhara, 3 to 4 PM. You will travel this whole day through a bus in off road.  Overnight in a hotel. Overnight in Pokhara.
                    </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 15: Pokhara to Kathmandu 8 hours by tourist bus</strong></button>
            <div class="content">
                <p style="font-weight: 500;">After spending a memorable time in Pokhara which concludes the Annapurna circuit trek, we will drive to Kathmandu which takes approximately 6 hours by a tourist bus. Today you can just relax in the hotel or go shopping. Overnight in Kathmandu.
                    </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 16: Morning Breakfast. Departure transfer to Kathmandu Airport</strong></button>
            <div class="content">
                <p style="font-weight: 500;">This is your last day in Nepal. You will leave Nepal with breathtaking memories and splendid time spent during 16 days Annapurna circuit trek. Our staff will transfer you to the airport for your departure.
                    </p>
            </div>

            <br>
            <br>

            <button type="button" class="collapsible"><strong>Cost Includes: </strong></button>
            <div class="content">
                <p style="font-weight: 500;">
                    • Airport / Hotel / Airport transfers by private vehicle. <br>
                    • Hotel Accommodation in Kathmandu (MAP). <br>
                    • Comprehensive per-departure information and trip dossiers. <br> 
                    • Gifts from Travelfeet Nepal. <br>
                    • Welcome/Fare well Nepali Dinner in Kathmandu. <br>
                    • First aid medical kit. <br> 
                    • 1 professional trekking guide and portors for the trek and his salary, meals, accommodations and insurance. <br> 
                    • Sagarmatha National Park Permits fee. <br>
                    • TIMS Fee- Trekkers' Information Management System. <br> 
                    • Full board meal in Trek(AP). <br> 
                    • All necessary paper works, office Service charge and all Government Taxes. <br>
                    • All ground transportation Private Vehicle. <br>
                </p>
            </div>

            <br>
            <br>

            <button type="button" class="collapsible"><strong>Cost Excludes: </strong></button>
            <div class="content">
                <p style="font-weight: 500;">
                    • Nepal entry visa fee, you can get Nepal visa upon arrival at the Airport. <br>
                    • International Airfare/Airport tax, City tour Sightseeing entry fees. <br>
                    • Tips and gratitude. <br>
                    • Any others expenses which are not mentioned in Price Includes section. <br> 
                    • International airfare to and from Kathmandu. <br>
                    • Travel and rescue insurance (compulsory) Additional Info. <br> 
                    • Confirmation will be received at time of booking. <br> 
                    • A current valid passport is required on the day of travel. <br> 
                    • Most travelers can participate. <br> 
                    • Not wheelchair accessible. <br> 
                    • Please advise any specific dietary requirements at time of booking. <br> 
                    • Vegetarian option is available, please advise at time of booking if required. <br> 
                    • A current valid passport is required on the day of travel. <br> 
                    • You can obtain Nepal visa on your arrival at the airport or other ports of entry. All visa requirements are the sole responsibility of the traveler. <br> 
                    • This is a private tour/activity. Only your group will participate. <br> 

            </div>

            

            <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                content.style.display = "none";
                } else {
                content.style.display = "block";
                }
            });
            }
            </script>   
        </p>
        
</section>

<section class="quer" style="padding-top: 20px; background-color: #e6e4e4; text-align: center; padding-bottom: 35px;">
     <div class="row">
        <strong style="font-size: 30px;">Note: If you are not satisfied with the above itinerary you can message us and send us your tailor made itinerary.</strong>
     </div>
     <br>
     <br>
     <div class="row">
         <a href="{% url 'first:contact' %}"><strong style="font-size: 25px; text-decoration: none;">Click here!</strong></a>
     </div>

</section>

{% endblock %}