{% extends 'first/menu.html' %}
{% load static %}
{% block body_block %}


    <div id="slider">
		<figure>
			<img src="{% static 'img/it1.jpg' %}">
			<img src="{% static 'img/it2.jpg' %}">
			<img src="{% static 'img/it3.jpg' %}">
			<img src="{% static 'img/it2.jpg' %}">
			<img src="{% static 'img/it1.jpg' %}">
		</figure>
</div>

<section class="annapurnabase" style="font-family: 'Lato', 'Arial', sans-serif; padding-top: 30px;">


        <h2>Annapurna Circuit Trek.</h2>
               
        <p class="long-copy">
            <strong style="font-weight: 600; font-size: 25px;">Trip Overview:</strong> <br>
            Mount Everest is the highest mountain in the world. The current official elevation of 8,848 m (29,029 ft) above from sea level. Mount Everest, Sanskrit and Nepali Sagarmatha "goddess of the sky", Tibetan Chomolungma, Chinese Zhumulangma. Everest region is one of the best trekking destinations of Nepal. The Everest three pass trek links Everest Base Camp and Gokyo Lake trek with two additional trails to the east and west of this central region. It includes three the Everest high passes as each over 5,300m plus the possibility of poor weather conditions, requires thorough acclimatization and slow and steady ascents that makes the three long and demanding trekking days. You will have an awesome moment while crossing three popular passes in the Everest region- Renjo La Pass (5464 meters), Cho La Pass (5420 meters), Kongma La Pass (5535 meters). On this trek, you will get to explore the 5 glacial lakes of the Gokyo valley. 
            <br>
            <br>
        
            <strong style="font-weight: 600; font-size: 25px;">Day to day itinerary:</strong> <br>
            <br>
            
            <div class="row">
            <button type="button" class="collapsible"><strong>Day 01: Welcome to Kathmandu</strong> </button>
            <div class="content">
                <p style="font-weight: 500;">As you fly into Kathmandu, you'll have beautiful views over the valley, the Himalaya, and of the terraced fields below. After going through customs, a representative will be waiting to guide you through the initial culture shock of Kathmandu’s narrow, winding streets and get you settled into your hotel. Once you've settled in, head out and visit one of Kathmandu’s cultural highlights. In the evening, the tourist hub of Thamel is a good place to grab your first meal, with a variety of restaurants to chose from offering both Western and local Nepali dishes.</p>
            </div>

           
            <button type="button" class="collapsible"><strong>Day 02: Full day Kathmandu City excursion</strong></button>
            <div class="content">
                <p style="font-weight: 500;">After breakfast, proceed for sightseeing tours to world heritage sites of Pashupatinath Temple-the holiest Hindu Temple on the bank of sacred Bagmati River, Bodhanath Stupa-the biggest Buddhist Stupa architecture in the world! Patan Durbar Square is the oldest city in the Kathmandu valley with age old tradition also called Lalitpur-the city of fine arts. The visit covers the Durbar Square, the Krishna temple, the Kumbheswore temple, the Golden temple and many more. Swayambhunath Stupa-the 2000 years old legendary stupa on the hillock also nick-named as monkey temple. Your day tour ends Kathmandu Durbar Square Showcasing living goddess Kumari Temple, Nautale Durbar, the Kaal Bhairav, the Swet Bhairav, the freak Street and more. 
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 03: Kathmandu (1,300m/4,265ft) - Lukla(2,845m/9,333ft) - Phakding(2,610m/8,562ft) </strong></button>
            <div class="content">
                <p style="font-weight: 500;">Transfer to domestic airport and fly to Lukla (2780m /9175ft) gateway to Everest Base Camp 35 minutes Trans Himalaya flight. Culminate dramatic landing on a hillside Lukla, introduce porters and downhill to beautiful Sherpa settlement Choplung. The trail continues along the side of the Dudh Koshi valley before ascending
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 04: Phakding (2,610m/8,562ft) - Namche (3440 m/11,285ft) </strong></button>
            <div class="content">
                <p style="font-weight: 500;">Trek leads through a beautiful pine forest, along Dudh Koshi River crossing many suspension bridges via Sherpa villages Benkar, Chimoa, Monjo and Jorsole. National Park permit check point with the tranquility view of glistering Mt. Thamserku (6618 m) Trail continues through the Dudh Koshi riverbed to the confluence of Bhote Koshi and Dudh Koshi rivers. <br>
                    <br> 
                Trail climbs steadily crossing high Tenzing- Hilary suspension bridge. On the way inspiring glimpse of Mt. Everest right up next Nuptse- Lhotse ridge. About 3 hours ascend through the wonderful pine forest finally reach a prosperous trading and administrative village Namche Bazar. <br>
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 05: Acclimatization Day - Namche Bazaar (3440 m/11,285ft) </strong></button>
            <div class="content">
                <p style="font-weight: 500;">It’s a scheduled acclimatization day of the trek. Acute Mountain Sickness (AMS) and health experts recommend to hold at least one extra night. Stay active and roaming instead of being lazy. Namche Bazar has ATMs, cyber cafés, finger licking delicious restaurants, bakery, colorful market each Friday evening and Saturday morning. <br>
                    <br>
                There is day trip starts visiting Sagarmatha (Everest) National park visitor centre on the hillock where we can observe an assortment of things related to the first Everest ascenders, Sherpa culture and learn about the various plants and animal life of the Everest region. Then take entertaining acclimatization side trip to large traditional Sherpa village Khumjung with the view of Thamserku, Khaantaiga, Ama Dablam, Mt, Everest and many more.
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 06: Namche (3,440m/11,285ft) - Tengboche (3,860m/12,633ft) </strong></button>
            <div class="content">
                <p style="font-weight: 500;">The trail leads moderately flat with superb view of Mt. Everest, Nuptse, Lhotse, Ama Dablam and close up view of Thamserku, Khangtaiga. The trail continues wild lives spot of musk deer (a herd of Himalayan Thar) colorful pheasant (Danphe, National bird) Trail descend to Dudh Koshi river where few lodges and series of picturesque water driven prayer wheels. Cross suspension bridge over Dudh Koshi River a steep climb through pine and juniper forest, walk about 2 hours bring you to Tenboche. <br>
                    <br>
                The famous Gomba (Tengboche Monastery) with the background of Ama Dablam, Nupte, Mt. Everest and many more peaks. During October/November in full moon the colorful Mani Rimdu festival is held here with masked dancing and Tibetan opera in the monastery courtyard. 
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 07: Tengboche(3,870m/12,696ft) - Dingboche (4,410m/14,467ft) </strong></button>
            <div class="content">
                <p style="font-weight: 500;">The trail descend to Deboche a small village with Chortens and Mani stone walls and nun monastery. Cross suspension bridge over Imja Khola (Imja Strasm) and gradually ascend to Pangboche with the towering view of Ama Dablam (most beautiful mountain in Everest region) Trail follows upstream closer to Imja River fairly moderate up toward Imja valley. <br>
                    <br>
                The trail fairly seen open to the confluence of Lobuche river and begin last part of the day to Dingboche the last Sherpa settlement with the beautiful terraced field enclosed by stone wall to avoid barley, buckwheat and potatoes from the cold wind and grazing animals. 
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 08: Dingboche (4,410m/14,467ft) - Chhukung (4,730m/15,518ft)</strong></button>
            <div class="content">
                <p style="font-weight: 500;">The walk is pleasant as we leave Dingboche, through stone walled fields and alpine landscape. The views are stupendous as we trek to head of Imja valley. While walking through the valley, Lhotse towers on our left and Ama Dablam on our right. <br>
                    <br>
                After walking about 3 km, we reach at yak herdsman’s place called Bibre at 4570m. Straight ahead, beyond a terminal moraine wall, soars the Island peak (Imja Tse, 6189m), a most popular trekking peak. The pyramidal Imja Tse looks awesome with its step rock and-icy south face. The trail ahead is intersected by icy streams. About 30 min. walk from Bibre finally, we arrive Chhukung. After Lunch, We might take an opportunity to hike to the rocky knoll of Chhukung Ri at 5546m, which offers stunning views of Lhotse, Island Peak, Ama Dablam, Makalu and several others including Baruntse. 
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 09: Rest and acclimatization day in Chhukung (4,730m/15,518ft) </strong></button>
            <div class="content">
                <p style="font-weight: 500;">A scheduled second rest day for better acclimatization in Chhukung is strongly recommended before setting off for the pass. However, we are not supposed to stay inactive. The view from Chhukung and further up the valley on the moraines towards Island Peak (6189 m) are tremendous. We grasp this opportunity to climb to the Island Peak base camp (4970 m) along the Lhotse glacier, passing the bloated water of Imja Lake. <br>
                    <br>
                The great south face of Lhotse towers above to the north, while Amphu Lapcha a (5845 m pass) and the immense fluted ice walls that flank it dominate the horizon to the south. To the southwest, the eastern face, of Ama Dablam provides an unusual view of this picturesque peak. 
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 10: Chhukung (4,730m/15,517ft-Kongma La(5,535m/18,158ft)-Lobuche (4,910m/16,108ft)</strong></button>
            <div class="content">
                <p style="font-weight: 500;">We start at first light from Chhukung, as we have to conquest highest pass of the trip today. We carry plenty of water and some snacks and a packed lunch as there is no Lodges on the way. We really enjoy the remoteness of the area and absolute nature. <br>
                    <br>
                We can select to go via any of the possible trails- either taking a climb over the hill northwest of Chhukung over the moraine of the Nuptse Glacier or we might walk back down the valley to Bibre and follow a high trail above the Niyang Khola. Just after some walk there are great views of Island peak valley and jagged ridge of Amphu Lapcha. <br>
                <br>
                Ascending along the east side of Niyang Khola valley, we turn west and walk through the sloppy stony trial. We enter a wide basin dotted with small frozen lakes. The trail rises over loose scree gaining the Kongma La after about five hours we leave Chhukung. Upon reaching the top, we seen cairn wrapped in prayer flags,-marks of the pass. Behind us is the landscape of icy lakes ahead down of which is the Khumbu Glacier. The final descent is the most difficult stage of the trek today, upon climbing the moraine on the far side, the trail turns north through Khumbu Glacier which takes us to Lobuche.
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 11: Lobuche(4,910m16,108ft)-Gorak Shep (5,160m/16,928ft)-Everest Base Camp (5,364m/17,597ft): Gorak She</strong></button>
            <div class="content">
                <p style="font-weight: 500;">The trail follows windy and rocky path with crest of north ridge to Everest along with Mt. Pumori, Mahalangur, Lingtern, Khumbutse, Nuptse, etc. Trail continues alongside of Khumbu Glacier to Gorakshep. Check in to Hotel, Lunch and afternoon set out to visit world’s highest base camp Everest Base Camp. Base Camp has no view of Mt. Everest but fantastic view of Khumbu Icefall and colorful camp site of Everest expedition during expedition season. 
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 12: Gorak Shep(5,160m/16,928ft) - Kala Pathar (5,550m/18,207ft) - Dzonglha (4,830m/15,845ft)</strong></button>
            <div class="content">
                <p style="font-weight: 500;">The trail climbs 2/3 hrs. up to Kala Patthar (5,550 m/18,207 ft) early in the morning to see first day sun light from top of the world (Mt. Everest) This is milestone of the trek to inspect panoramic view with the fantastic sunrise over Mt. Everest, Mt. Pumori, Mt. Lingtren, Khumbutse, Changtse, Mt. Lhotse, Mt. Nupte, Mt. Ama Dablam and many more After accomplish Kala Patthar, trek down to Gorakshep and retrace down to Lobuche. <br>
                    <br>
                After Lunch, the path to Dzonglha branches off from the main trail some distance from Lobuche. After crossing a stream we come through a fork and later curving round to the wide gravelly river bed of the stream as it flows southwestward, the trail runs across it and climbs the ridge ahead. From the grassy ridge ahead, as the trail runs across to southeast from where we can see soaring heights of Ama Dablam and Kangtega-Thamserku while Tawache looms prominently ahead. <br>
                <br>
                Pheriche village is also visible down in the valley floor. As the ridge veers northward, the vast Cho La Lake spreads below Mt. Cholatse . The lake stays with us over a long stretch until we descend to a wide basin. The trail climbs up a spur and descends steeply to another broad basin. After an hour walk transverse from the basin and shortly after crossing a wobbly bridge, we reach Dzonglha.
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 13: Dzonglha(4,830m/15,845ft) - Cho La (5420m/17,780ft) - Thangnak (4,700m/15,419ft) - Gokyo (4,800m/15,747ft) </strong></button>
            <div class="content">
                <p style="font-weight: 500;">Early morning as we get out of our lodge we are greeted by the mesmerizing sight of Cholatse looming over. Today is going to be one of the toughest days of our trip. The walk begins as we transverse through a spur extending westward from Dzongla. The path descends to a basin across which meanders a murmuring stream crusted with ice at places. In about an hour, we reach the top of the basin readying for the triumph on ChoLa. <br>
                    <br>
                As we gain height, the view back gets increasingly more captivating; the Cho La Lake begins to appear and the Ama Dablam in its pyramidal incarnation presides over a range of mountains on the south as Cholatse soars on the west. Climbing the incline is not easy; it is steep, but made worse by boulders over some of which we will have to scramble. We need to be alert as rocks can be glazed by ice. The final climb to the ChoLa can be a little tricky as the trail curves round the bergschrund. Upon reaching the top, we see prayer flags, strung across cairns, flapping in the strong wind. <br>
                <br>
                Scenery of majestic peaks in all directions is breathtaking. Although long, the path leading down to Thangnak can be easily made out from the pass because it is just decent but can be hazardous if rocks are glazed by ice, a bit of cautiousness is needed. We reach Thangnak, a rather more substantial hamlet with a small village. Stepping out of the settlement, we are greeted by fabulous mountain views. The trail brings us to the Ngozumpa glacier edge after short walk, which is longest glacier in Nepal. Reaching the other side of the glacier, we get view of the second of the Gokyo lakes on the series of six lakes. A short distance away is the third Gokyo Lake. On the edge of this lake stands the Gokyo Village where we finally give rest to our tired body.
                </p>
            </div>
            
            <button type="button" class="collapsible"><strong>Day 14: Rest and explore Gokyo Ri(5,360m/17,584ft) </strong></button>
            <div class="content">
                <p style="font-weight: 500;">The views in the Gokyo region are tremendous. For the best view, climb Gokyo Ri (5350 m) the small peak above the lake. The peak of 5350m is sometime called Kala Pathar (not to be confused with the Kala Pathar above Gorakshep, though the view is similar). <br>
                    <br>
                It is a two- hours climb to the top of the peak, providing a panoramic view of Cho Oyu, Gyanchung King, Everest, Lhotse, Makalu, Cholatse, Tawache and many more. Those with more time and energy can make a trip up the valley to another lake, marked with the name Ngazumpa on the maps, or even beyond to a fifth lake. There are several small peaks in this in this region that offer vantage points for the surrounding peaks and views of the Nangpa La, the old trade route into Tibet.
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 15: Gokyo(4,800m/15,747ft) - Renjo La (5345m/17535ft) - Marlung (4,210m/13,810ft) </strong></button>
            <div class="content">
                <p style="font-weight: 500;">We need to start at dawn today as we have to trace our trail up to Marlung (4210m), after conquest of Renjo La (5345m). as there is no alternative to Marlung for overnight today. The path climbs gently up the flank of Gokyo Ri and then zigzags precariously up a finger of gray scree above the northwest corner of the lake. We proceed early down from the Gokyo Valley, We leave the main trail and turn to Renjo La trail by Dudh Pokhari. <br>
                    <br>
                After about 3 hours, we gain the Renjo La where a dazzling vista awaits. The Everest itself, Lhotse, Cholatse and Taboche can be seen shining in the sun. Views from Renjo La are much like that from Gokyo Ri with third Gokyo Lake and Gokyo Village beneath the gray smear of Ngozumpa Glacier. Continuing on from the pass, the trail winds down a stone staircases and then scramble over loose scree to reach the south bank of a small lake, Angladumba Tsho. <br>
                <br>
                Presence of ice on the trail while descending down can make our descend a bit hazardous. Along the way we see Relama Tsho and Renjo Lake. However, we walk down through narrow valley clogged with giant boulders to Lumde where there is a support Lodge but it can be closed often. We walk almost for an hour from Lumden (4350m) to get to Marlung on the east bank of the Bhote Kosi.
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 16: Marlung(4,210m/13,810ft) - Namche Bazzar (3,440 m/11,285ft</strong></button>
            <div class="content">
                <p style="font-weight: 500;">The descent from Marulung to Thame follows a traditional route used for centuries by the Tibetan traders. Down from the Marulung we cross the Bhote Kosi and descend to Taranga. The trail then goes through the valley of Langmuche Khola. This stream drains down from Dig Tsho, the glacial lake that burst its banks in 1985, causing devastating floods along the Dudh Kosi Valley to moraine to Thame. Thame has a sprawling village with a few lodges and stunning mountains like Thamserku, Katenga, Kusum Kangguru, etc. <br>
                    <br>
                Overlooking Thame is its famous Gompa situated some the fields, on a hill to the west. Established some 325 years ago, the Gompa has three big images of Chenresig (Avalokiteswara), Guru Rimpoche, Buddha Sakyamuni. Colorful Mani Rimdu festival featuring colorful mask dances is held in this Gompa in May. We climb down after crossing a bridge after then eventually reach Samde. The place offer breathtaking views. The path steeply descends down to Thamo village which hosts a monastery called Khari Goma which is a nunnery being home to some nuns and monks. <br>
                    <br>
                After passing through a check post, we come to the world`s highest hydroelectric power station built on Austrian help. The project provides electricity to most parts of upper Khumbu. We reach small village of Phurte where there is Laudo monastery which is run by Kopan monastery of Bouddhanath in Kathmandu and is popular among the westerners for Buddhist study and meditation center. We eventually reach Namche again through some Gompas, colorful prayer flags, Mani walls and Chortens.
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 17: Namche (3,440m/11,285ft) - Lukla (2,845m/9,333ft)</strong></button>
            <div class="content">
                <p style="font-weight: 500;">After Breakfast, retrace the main trail down to Dhudh koshi waving hands to Namche and Khumbu Himalayas to national park exit check point Joralle.Trail follows down steam of Dudh Koshi River retracing to Phakding. Trail leads to Lukla scaling different Sherpa villages crossing a suspension bridge above Thado Kosh. Last section of the day, about 45 minutes ascend to accomplish entire trek. Reconfirm flight Ticket and see off to local porters.
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 18: Lukla (2,845m/9,333ft) – Kathmandu (1,300m/4,265ft</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Usually, flight from Lukla to Kathmandu is scheduled in the early morning. We take a scenic flight from Lukla to Kathmandu about forty-five minutes. And then transfer to your hotel for the refreshment. But sometimes the flight can be delayed or canceled in the mountain regions due to bad weather and other unprecedented reasons that are beyond our control. Free afternoon. Overnight in Kathmandu at Boutique Hotel with breakfast. 
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 19: Final departure</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Today, we drop you to the international airport three hours before our scheduled flight to catch to fly back to your home and pray for your Safe journey.
                </p>
            </div>

            <br>
            <br>

            <button type="button" class="collapsible"><strong>Cost Includes: </strong></button>
            <div class="content">
                <p style="font-weight: 500;">
                    • Airport / Hotel / Airport transfers by private vehicle. <br>
                    • Hotel Accommodation in Kathmandu (MAP). <br>
                    • Comprehensive per-departure information and trip dossiers. <br> 
                    • Gifts from Travelfeet Nepal. <br>
                    • Welcome/Fare well Nepali Dinner in Kathmandu. <br>
                    • First aid medical kit. <br> 
                    • 1 professional trekking guide and portors for the trek and his salary, meals, accommodations and insurance. <br> 
                    • Sagarmatha National Park Permits fee. <br>
                    • TIMS Fee- Trekkers' Information Management System. <br> 
                    • Full board meal in Trek(AP). <br> 
                    • All necessary paper works, office Service charge and all Government Taxes. <br>
                    • All ground transportation Private Vehicle. <br>
                </p>
            </div>

            <br>
            <br>

            <button type="button" class="collapsible"><strong>Cost Excludes: </strong></button>
            <div class="content">
                <p style="font-weight: 500;">
                    • Nepal entry visa fee, you can get Nepal visa upon arrival at the Airport. <br>
                    • International Airfare/Airport tax, City tour Sightseeing entry fees. <br>
                    • Tips and gratitude. <br>
                    • Any others expenses which are not mentioned in Price Includes section. <br> 
                    • International airfare to and from Kathmandu. <br>
                    • Travel and rescue insurance (compulsory) Additional Info. <br> 
                    • Confirmation will be received at time of booking. <br> 
                    • A current valid passport is required on the day of travel. <br> 
                    • Most travelers can participate. <br> 
                    • Not wheelchair accessible. <br> 
                    • Please advise any specific dietary requirements at time of booking. <br> 
                    • Vegetarian option is available, please advise at time of booking if required. <br> 
                    • A current valid passport is required on the day of travel. <br> 
                    • You can obtain Nepal visa on your arrival at the airport or other ports of entry. All visa requirements are the sole responsibility of the traveler. <br> 
                    • This is a private tour/activity. Only your group will participate. <br> 

            </div>

            

            <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                content.style.display = "none";
                } else {
                content.style.display = "block";
                }
            });
            }
            </script>   
        </p>
        
</section>

<section class="quer" style="padding-top: 20px; background-color: #e6e4e4; text-align: center; padding-bottom: 35px;">
     <div class="row">
        <strong style="font-size: 30px;">Note: If you are not satisfied with the above itinerary you can message us and send us your tailor made itinerary.</strong>
     </div>
     <br>
     <br>
     <div class="row">
         <a href="{% url 'first:contact' %}"><strong style="font-size: 25px; text-decoration: none;">Click here!</strong></a>
     </div>

</section>

{% endblock %}