{% extends 'first/menu.html' %}
{% load static %}
{% block body_block %}



    <div id="slider">
		<figure>
			<img src="{% static 'img/it1.jpg' %}">
			<img src="{% static 'img/it2.jpg' %}">
			<img src="{% static 'img/it3.jpg' %}">
			<img src="{% static 'img/it2.jpg' %}">
			<img src="{% static 'img/it1.jpg' %}">
		</figure>
</div>

<section class="annapurnabase" style="font-family: 'Lato', 'Arial', sans-serif; padding-top: 30px;">


        <h2>Langatang Valley trek.</h2>
               
        <p class="long-copy">
            <strong style="font-weight: 600; font-size: 25px;">Trip Overview:</strong> <br>
            The Langtang Valley Trek is one of the best trekking destinations among many others in Nepal. The Langtang region lies in the central-northern part of Nepal. An easy drive of 6 – 7 hours from Kathmandu takes you to the Langtang region. The Langtang-Lirung peak with the spectacular Tibetan Range and Ganesh Himal in the backdrop is a view to cherish for life.
            During the devastating Nepal earthquake of 2015, the Langtang region suffered severely. But the immense support from national and international donors helped Langtang overcome such massive destruction. It is coming back to life after the earthquake with an increasing number of tourists every year. 
            The Langtang valley is one of the most beautiful valleys in the world. The valley lies within the Langtang National Park, and its natural appeal is delightful. The national park is home to some rare species of plants and animals like Larix himalaica and red panda. Tamang people who live in this region are famous for their warm hospitality. Put simply, the Langtang Valley trek is a short and easy trek that is doable for people of all age groups. You do not need to be a fitness fantatic for this trek.


            <br>
            <br>
            

            <strong style="font-weight: 600; font-size: 25px;">Day to day itinerary:</strong> <br>
            <br>
            
            <div class="row">
            <button type="button" class="collapsible"><strong>Day 01 : Arrival in Kathmandu (1,300m/4,264ft)</strong> </button>
            <div class="content">
                <p style="font-weight: 500;">Welcome to Nepal! You will be greeted from Travelfeet Nepal and transfer to hotel with an employee of Travelfeet Nepal. In the evening, briefings with your guide for about the trekking tomorrow will be conducted.</p>
            </div>

           
            <button type="button" class="collapsible"><strong>Day 02: Kathmandu Sightseeing</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Today after breakfast we go visit some historical and spiritual attractions in Kathmandu. Hindu temple of Pashupati Nath, the famous 'Monkey Temple' (Swayambhu Nath) and Buddhists shrine (Bouddha Nath). Overnight at hotel.</p>
            </div>

            <button type="button" class="collapsible"><strong>Day 03: Drive to Syabrubesi (1,550m/5,100ft): 145 km/ 7 hrs</strong></button>
            <div class="content">
                <p style="font-weight: 500;">After breakfast, we drive to Sybrubesi.on the way we enjoy the Himalayan views and mountainous lifestyle through the terraced fields and rustic villages. Take Lunch at the Kalikasthan before continuing further to Syabrubesi. Overnight lodge with BLD plan. </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 04: Trek to Lama Hotel (2,380m/7,830ft): 6 hrs</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Today is our first day of trekking. Follow the Lang-tang Khola River. Pass through the thick forests. Cross several suspension bridges. We also pass by a tea house. The trail goes up and down but it's not that challenging. And overnight lodge with BLD plan.</p>
            </div>

            <button type="button" class="collapsible"><strong>Day 05: Trek to Lang-tang village (3,430m/11,253ft): 6/7 hr</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Today our trail continues along the forest. After making a steady climb up through the valley, we leave the tree line behind us. Enjoy the remarkable views of Langtang Lirung. Pass by prayer wheels, Chortens, with sacred mounds of rocks with carving on them. And overnight lodge with BLD plan.</p>
            </div>

            <button type="button" class="collapsible"><strong>Day 06: Trek to Kyanjin Gompa (3,870m/12,697ft): 3-1/2 hr</strong></button>
            <div class="content">
                <p style="font-weight: 500;">This day we get out of the village and pass on through yak pastures. Also pass the long Mani wall in Nepal, made from stone with a mantra written on them. Kanjin Gompa is surrounded by the Himalayas all around. And overnight lodge with BLD plan.</p>
            </div>

            <button type="button" class="collapsible"><strong>Day 07: Visit Tserko Ri and trek back to Kyanjin gompa: 7/8 hrs</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Today, early morning we climb to Tserko RI (5000m/16,404ft) peak for sunrise views. After breakfast, and back down to Kanjin Gompa. It is 7/ 8 hours walk up and down. this day is one of the best days we can see, Langtang Lirung, Langsisa-RI, Lang-tang Himal, Dorje Lakpa, Ubra Himal, Yala peak etc. Overnight lodge with BLD plan. </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 08: Trek back to Lama Hotel 5 hrs</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Today the trail goes all the way downhill through the forest following the river. Pass through the ethnic Tamang settlements we follow religious and cultural practices similar to the Tibetans. Overnight lodge with a BLD plan. </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 09: Trek back to Syabrubesi: 5 hrs</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Today after breakfast, we trek back down to Syabrubensi, about 5 hours walk. Enjoy the easy trail mostly downhill through lush green vegetation. Overnight lodge with BLD plan</p>
            </div>

            <button type="button" class="collapsible"><strong>Day 10: Drive back to KTM 6 hrs</strong></button>
            <div class="content">
                <p style="font-weight: 500;">This day after breakfast we drive back to Kathmandu. Spend the day leisurely or catch up on some last-minute shopping or explore any sights you missed during your first day in Kathmandu. And evening we will have a farewell dinner together Nepali restaurant. Overnight Hotel with BB plan</p>
            </div>

            <button type="button" class="collapsible"><strong>Day 11: Departure!!</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Today after the breakfast Travelfeet Nepal members will drop to your airport 3 hours before the scheduled flight. We just finished our service. We will be waiting for your next adventure!</p>
            </div>
            
            <br>
            <br>

            <button type="button" class="collapsible"><strong>Cost Includes: </strong></button>
            <div class="content">
                <p style="font-weight: 500;">
                    • Airport / Hotel / Airport transfers by private vehicle. <br>
                    • Hotel Accommodation in Kathmandu (MAP). <br>
                    • Comprehensive per-departure information and trip dossiers. <br> 
                    • Gifts from Travelfeet Nepal. <br>
                    • Welcome/Fare well Nepali Dinner in Kathmandu. <br>
                    • First aid medical kit. <br> 
                    • 1 professional trekking guide and portors for the trek and his salary, meals, accommodations and insurance. <br> 
                    • Sagarmatha National Park Permits fee. <br>
                    • TIMS Fee- Trekkers' Information Management System. <br> 
                    • Full board meal in Trek(AP). <br> 
                    • All necessary paper works, office Service charge and all Government Taxes. <br>
                    • All ground transportation Private Vehicle. <br>
                </p>
            </div>

            <br>
            <br>

            <button type="button" class="collapsible"><strong>Cost Excludes: </strong></button>
            <div class="content">
                <p style="font-weight: 500;">
                    • Nepal entry visa fee, you can get Nepal visa upon arrival at the Airport. <br>
                    • International Airfare/Airport tax, City tour Sightseeing entry fees. <br>
                    • Tips and gratitude. <br>
                    • Any others expenses which are not mentioned in Price Includes section. <br> 
                    • International airfare to and from Kathmandu. <br>
                    • Travel and rescue insurance (compulsory) Additional Info. <br> 
                    • Confirmation will be received at time of booking. <br> 
                    • A current valid passport is required on the day of travel. <br> 
                    • Most travelers can participate. <br> 
                    • Not wheelchair accessible. <br> 
                    • Please advise any specific dietary requirements at time of booking. <br> 
                    • Vegetarian option is available, please advise at time of booking if required. <br> 
                    • A current valid passport is required on the day of travel. <br> 
                    • You can obtain Nepal visa on your arrival at the airport or other ports of entry. All visa requirements are the sole responsibility of the traveler. <br> 
                    • This is a private tour/activity. Only your group will participate. <br> 

            </div>

            

            <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                content.style.display = "none";
                } else {
                content.style.display = "block";
                }
            });
            }
            </script>   
        </p>
        
</section>

<section class="quer" style="padding-top: 20px; background-color: #e6e4e4; text-align: center; padding-bottom: 35px;">
     <div class="row">
        <strong style="font-size: 30px;">Note: If you are not satisfied with the above itinerary you can message us and send us your tailor made itinerary.</strong>
     </div>
     <br>
     <br>
     <div class="row">
         <a href="{% url 'first:contact' %}"><strong style="font-size: 25px; text-decoration: none;">Click here!</strong></a>
     </div>

</section>

{% endblock %}