{% extends 'first/menu.html' %}
{% load static %}
{% block body_block %}


    <div id="slider">
		<figure>
			<img src="{% static 'img/it1.jpg' %}">
			<img src="{% static 'img/it2.jpg' %}">
			<img src="{% static 'img/it3.jpg' %}">
			<img src="{% static 'img/it2.jpg' %}">
			<img src="{% static 'img/it1.jpg' %}">
		</figure>
</div>

<section class="annapurnabase" style="font-family: 'Lato', 'Arial', sans-serif; padding-top: 30px;">


        <h2>Mardi Himal trek.</h2>  
               
        <p class="long-copy">
            <strong style="font-weight: 600; font-size: 25px;">Trip Overview:</strong> <br>
            Mardi Himal Trek is a hidden gem for the dedicated trekkers and backpackers.
            It is located eastwards of the classic Annapurna Base Camp, this trekking route is yet to witness a large crowd like other commercial treks in Nepal though it officially opened for all in 2012. <br>
            <br>
            The richly diverse terrains of Mardi Himal take you across the densely forested areas leading to the high rocky mountain trails. Although considered as a short trek, the path of Mardi Himal is well-decorated with stone-built villages, terraced fields, rhododendron forests, along with extraordinary spectacles of Annapurna South, Hiunchuli, and Machhapuchhre peaks. <br>
            <br>
            Mardi Himal Trek is an excellent choice for travelers who have limited time to spend but are looking for a quaint trekking experience in Nepal. This trek provides an opportunity to appreciate the solitary walk in the remote trails of Annapurna region. Short and moderate, Mardi Himal Trek is an excellent option for both novice travelers as well as experienced trekkers.
            <br>
            <br>
        
            <strong style="font-weight: 600; font-size: 25px;">Day to day itinerary:</strong> <br>
            <br>
            
            <div class="row">
            <button type="button" class="collapsible"><strong>Day 01: Welcome to Kathmandu:</strong> </button>
            <div class="content">
                <p style="font-weight: 500;">As you fly into Kathmandu, you'll have beautiful views over the valley, the Himalaya, and of the terraced fields below. After going through customs, a representative will be waiting to guide you through the initial culture shock of Kathmandu’s narrow, winding streets and get you settled into your hotel. Once you've settled in, head out and visit one of Kathmandu’s Cultural highlights. In the evening, the tourist hub of Thamel is a good place to grab your first meal, with a variety of restaurants to chose from offering both Western and local Nepali dishes.</p>
            </div>

           
            <button type="button" class="collapsible"><strong>Day 02: Fly from Kathmandu to Pokhara</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Today you'll be driven to Kathmandu domestic airport for a short flight to Pokhara. And you’ll be sightseeing various famous places in Pokhara such as Fewa Lake, Begnas Lake, Mahendra Cave and many more. </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 03: Drive from Pokhara (900m) to Kande (1,770m) and Trek to Deurali (2,200m)</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Your adventure to Mardi Himal Trek begins with an hour-long drive from Pokhara to Kande. Upon reaching Kande, you’ll start trekking uphill towards the beautiful hamlet of Australian Camp. On a clear day, Australian Camp offers a panoramic view of the Annapurna range, Dhaulagiri, Machhapuchhre, and Manaslu. <br>
                    <br>
                After enjoying your time at the Australian Camp, you walk for another two hours on a pleasant trail to reach Deurali.
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 04: Trek from Deurali (2,200m) to Low Camp (2,900m)</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Today, you leave the crowded trails of Annapurna Sanctuary behind and take a solitary path towards the Forest Camp. The dense forest of rhododendron, maple, oak, and hemlock surrounds the entire trail. It takes about 4 to 5 hours to reach the Forest Camp. <br>
                    <br>
                The trail continues through the forest area. However, the vegetation varies as rhododendron trees become densely populated in this area. Ferns, lichens, and moss cover the trees dominantly. You’ll reach Low Camp late in the afternoon.
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 05: Trek from Low Camp (2,900m) to High Camp (3,585m)</strong></button>
            <div class="content">
                <p style="font-weight: 500;">The trek continues gradually uphill into the rhododendron forests towards the Middle Camp, and then to Badal Danda. Badal Danda offers a marvelous sight of Annapurna South, Hiuchuli, Machhapuchhre, and Mardi Himal. <br>
                <br>
                After walking for another hour above Badal Danda, the trail leaves the treeline behind. Mountain view of Annapurna South and Hiunchuli accompanies the path towards the west. The trail keeps on along the ridge covered with grasses and bushes until the High Camp. <br>
                <br>
                There are a few lodges at the High Camp, and the view from the lodge points to Machhapuchhre, Annapurna South, and Hiunchuli visible on a clear day.
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 06: Hike to Mardi Himal Base Camp (4,500m) and Trek back to High Camp (3,585m)</strong></button>
            <div class="content">
                <p style="font-weight: 500;">The day begins walking on a steep climb through the ridge towards Mardi Himal Base Camp. Since the trail is rocky, uneven and slippery, this section is the most tricky and challenging part of the trek. <br>
                    <br>
                Along the way, the fantastic views of Annapurna, Hiunchuli, and Machhapuchhre start unfolding in the backdrop. The trail passes through the pasture lands, then leads to the narrow ridges before reaching the Upper Viewpoint, and then to the Mardi Himal Base Camp. The mountain scenery from the base camp is exceptional. After spending some time at the base camp, we retrace our route back to the High Camp.
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 07: Trek from High Camp (3,585m) to Siding Village (1,750m)</strong></button>
            <div class="content">
                <p style="font-weight: 500;">From the High Camp, you’ll retrace the route until Low Camp, then take a different path that leads to Siding village. Most of the trail on this day is gradual downhill under the shades of dense forests. <br>
                    <br>
                Siding is a traditional Gurung village with a quiet and ambient atmosphere. The settlement is less busy even during the peak trekking seasons.
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 08: Drive from Siding Village (1,750m) to Pokhara (900m)</strong></button>
            <div class="content">
                <p style="font-weight: 500;">On the final day of the adventure, you’ll hire a jeep and drive to Pokhara. You can also trek to Lumre and then hire a vehicle if you want to hike on the final day. <br>
                    <br>
                The road is graveled and rough from Siding until you reach the highway. It takes about 2-3 hours from Siding to reach Pokhara.
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 09: Fly from Pokhara to Kathmandu</strong></button>
            <div class="content">
                <p style="font-weight: 500;">After breakfast, you may have time to do more sightseeing, relax, or check out one of the Pokhara's coffee shops. About 1.5 hours before your flight, you'll be picked up from your hotel and taken to the domestic airport to catch your flight back to Kathmandu. <br>
                    <br>
                In Kathmandu, you'll be transferred to your hotel and can enjoy the rest of the afternoon and evening at your leisure. Explore Kathmandu's streets on foot, bicycle, or rickshaw, perhaps shopping for souvenirs or seeing anything you may have missed at the beginning of your trip. <br> 
                In the evening, you can choose from a selection of Nepali, French, Vietnamese, and Middle Eastern dishes in Kathmandu.
                </p>
            </div>

            <button type="button" class="collapsible"><strong>Day 10: Depart Kathmandu</strong></button>
            <div class="content">
                <p style="font-weight: 500;">Time to say farewell to Nepal. Enjoy your last moments in Kathmandu with breakfast in a café, a city stroll, and/or souvenir shopping. A representative will meet you at your hotel and drive you to the airport for your return flight home. It's good to be at the airport at least two hours prior to departure.</p>
            </div>
            
            <br>
            <br>

            <button type="button" class="collapsible"><strong>Cost Includes: </strong></button>
            <div class="content">
                <p style="font-weight: 500;">
                    • Airport / Hotel / Airport transfers by private vehicle. <br>
                    • Hotel Accommodation in Kathmandu (MAP). <br>
                    • Comprehensive per-departure information and trip dossiers. <br> 
                    • Gifts from Travelfeet Nepal. <br>
                    • Welcome/Fare well Nepali Dinner in Kathmandu. <br>
                    • First aid medical kit. <br> 
                    • 1 professional trekking guide and portors for the trek and his salary, meals, accommodations and insurance. <br> 
                    • Sagarmatha National Park Permits fee. <br>
                    • TIMS Fee- Trekkers' Information Management System. <br> 
                    • Full board meal in Trek(AP). <br> 
                    • All necessary paper works, office Service charge and all Government Taxes. <br>
                    • All ground transportation Private Vehicle. <br>
                </p>
            </div>

            <br>
            <br>

            <button type="button" class="collapsible"><strong>Cost Excludes: </strong></button>
            <div class="content">
                <p style="font-weight: 500;">
                    • Nepal entry visa fee, you can get Nepal visa upon arrival at the Airport. <br>
                    • International Airfare/Airport tax, City tour Sightseeing entry fees. <br>
                    • Tips and gratitude. <br>
                    • Any others expenses which are not mentioned in Price Includes section. <br> 
                    • International airfare to and from Kathmandu. <br>
                    • Travel and rescue insurance (compulsory) Additional Info. <br> 
                    • Confirmation will be received at time of booking. <br> 
                    • A current valid passport is required on the day of travel. <br> 
                    • Most travelers can participate. <br> 
                    • Not wheelchair accessible. <br> 
                    • Please advise any specific dietary requirements at time of booking. <br> 
                    • Vegetarian option is available, please advise at time of booking if required. <br> 
                    • A current valid passport is required on the day of travel. <br> 
                    • You can obtain Nepal visa on your arrival at the airport or other ports of entry. All visa requirements are the sole responsibility of the traveler. <br> 
                    • This is a private tour/activity. Only your group will participate. <br> 

            </div>

            

            <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                content.style.display = "none";
                } else {
                content.style.display = "block";
                }
            });
            }
            </script>   
        </p>
        
</section>

<section class="quer" style="padding-top: 20px; background-color: #e6e4e4; text-align: center; padding-bottom: 35px;">
     <div class="row">
        <strong style="font-size: 30px;">Note: If you are not satisfied with the above itinerary you can message us and send us your tailor made itinerary.</strong>
     </div>
     <br>
     <br>
     <div class="row">
         <a href="{% url 'first:contact' %}"><strong style="font-size: 25px; text-decoration: none;">Click here!</strong></a>
     </div>

</section>

{% endblock %}