{% extends 'first/menu.html' %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block body_block %}

<section class="aboutus js--section-about" id="about" style="background-color: #e6e4e4;">
    <div class="row">
        <h2>About Us</h2>
        <p class="long-copy">
            Company Overview: <br>
            In the country of legendary old cultural heritages, tremendous hospitality, independent and peace loving
            people, hypnotizing natural beauty and silver shining mountains, we feel proud in providing you a well
            organised, comfortable and connected Travel services and facilities. Our main aim is to Promote National
            as well as International Tourism with the main motto of,
            Habitat, Health and Humanity and a Slogan "Allow your feet to Travel" "GO GREEN, GO DIGITAL"<br>
    
            
                How was Travelfeet Nepal formed? <br>
                The first initiative was to start a photography page having the vision to highlight the underrated
                destinations of Nepal and to reflect the cultural, geographical, natural and archaeological
                diversity of
                Nepal through lens. Passion and dedication are factors that drive people to do more in specific
                field.
                The hunger to deliver Quality contents made us enthusiastic travelers that helped us grow our
                knowledge
                and experience in the field of Travel and Tourism.
                We started realizing the opportunities and platform of Tourism in this mesmerizing country full of
                Beauty. We analyzed that we were having a strong foundation to move forward. We started growing up
                tons
                of good ideas. <br>
                <br>
                We had a team so following were the questions that we asked ourselves. <br>
    
                • What skills do we have?<br>
                • Where does our passion lie?<br>
                • Where is our area of expertise?<br>
                • How much can we afford to spend, knowing that most businesses fail?<br>
                • How much capital do we need?<br>
                • What sort of lifestyle we want to live?<br>
                • Are we even ready to be an entrepreneur?<br>
                <br>
                Everything starts as a dream. We knew that initiation and implementation make Dream work. We had
                nothing
                to lose and we all were passionate to work but mainly we had a positive clear answers for all of the
                questions. A dream to be one of the best Travel Company representing Nepal formed Travelfeet Nepal
                with
                a motto “Allow your feet to Travel”.
                Travelfeet Nepal is a Certified Travel Company, a team of young and energetic students pursuing the
                Bachlors in Travel and Tourism (BTTM) and Bachlors in Information Technology (BIT). <br>
                <br>
                What do we do?<br>
                • Tours <br>
                • Trekking <br>
                • Adventure <br>
                • Internship <br>
                • Vehicle Rental <br>
                • Accommodation <br>
                • Air Ticket <br>
                • Photography/Videography Projects <br>
            
        </p>
    </div>
    </section>

{% endblock %}
   