{% extends 'first/menu.html' %}
{% load static %}

{% block body_block %}

<section class="faqq js--section-about">
    <div class="row">
    <h2>FAQ</h2>
    <p>
        <h3 style="color: #c04619;">FAQs About solo trips in Nepal:-</h3>
        <br>
        <br>
        1.Is it suitable to go for solo trek in Nepal?
        <br>
        Ans: Nepal is known as one of the safe Country to travel, whether it may be trekking, expedition, city tours or other many activities. But, there are more risks to travel alone as there will be no one to help you if you got any health problem or physical injury. so, we suggest you to book your trip through government registered company and get the company of Guide and Porters throughout your trip. We also provide Ladies and Gentlemen as your guides if required.
        <br>
        <br>
        2.Is it safe for solo female travellers in Nepal?
        <br>
        Ans: As Nepali people follow the culture of taking guests as god, we are sure everyone is safe here but, we advice you to get prepared for future safety by booking your trip and travelling with guide.
        <br>
        <br>
        3.Is it possible to get personal room in teahouses for solo trekkers?
        <br>
        Ans: Yes, you can get personal room in teahouses. But in case of peak seasons like ( September , October , November , march, April , may) you may have to share the room.  
        <br>
        <br>
        <br>
        
        <h3 style="color: #c04619;">FAQs Visa information:-</h3>
        <br>
        <br>
        1.Do I need visa to go Nepal?
        <br>
        Ans: Except Indian citizens all foreign nationals needs visa to enter Nepal.
        <br>
        <br>
        2.How can I get visa of Nepal?
        <br>
        Ans: You can get Nepali visa from a Nepalese Embassy or consulate of Nepal in your country. Many of the countries like Japan, Canada, Countries in European Union, Australia, America etc also get their visa on Arrival at Tribhuwan International Airport.
        <br>
        <br>
        3.What do I need to get Nepali visa?
        <br>
        Ans: All you need is a valid Passport, two passport size photos and visa fees.
        <br>
        <br>
        4.How much fee should I pay to get visa?
        <br>
        Ans: It depends on the number of days you want to spend in Nepal.
        <br>
            15 days costs $25
        <br>
            30 days costs $40
        <br>
            90 days costs $100
        <br>
        <br>
        <br>
                
        <h3 style="color: #c04619;">FAQs accommodation:-</h3>
        <br>
        <h4 style="color: #c04619;">Room FAQs:-</h4>
        <br>
        1.What kind of accomodation do I get while trekking in Nepal?
        <br>
        Ans: Teahouses and lodges provides the accomodation facility in maximum trekking routes of Nepal. They are of local type and provides the services and facilities to their best.
        <br>
        <br>
        2.What is teahouse?
        <br>
        Ans: Teahouses are more likely to hotels which are owned by local people which provides full board meal, hot shower, comfortable private rooms (Twin sharing). They are best places to interact with locals and know about their lifestyle and culture.
        <br>
        <br>
        3.Do the teahouses have attached bathroom?
        <br>
        Ans: Commonly, bathrooms are outside from the teahouses but these days most of them have attached or indoor bathrooms. It also depends on the place and location.
        <br>
        <br>
        4.What kind of accomodation do you provide in cities?
        <br>
        Ans: We always give best to our customers but we have some criterias like standard of service, Location, Food standard and cost. Usually, we provide three star level accomodation in cities for trekkers.
        <br>
        <br>
        5.What is camping trekking?
        <br>
        Ans: It is a kind of trekking in which we provide you tenting accomodation, guides, porters, full board meals prepared by our cooks in a mobile camp and other essential equipments.
        <br>
        <br>
        6. What is best, either teahouse or camping?
        <br>
        Ans: It depends on the travel nature of an individual or a certain group. We prefer both ways and both are best in their own.
        <br>
        <br>
        7.Can I charge my digital camera, mobile and other electronical devices inside room during trekking?
        <br>
        Ans: Most of the rooms in teahouses do not have charging board . But you can charge them in a dinning hall as there will be boards and multiplugs managed foe charging the electronicals. It will be safe charging there.
        <br>
        <br>
        8.Is it possible to use internet in teahouses?
        <br>
        Ans: Yes, most of the teahouses provides the internet facility but you need to pay extra for it in maximum teahouses while some will provide for free.
        <br>
        <br>
        <br>
        
        <h4 style="color: #c04619;">Food FAQs:-</h4>
        <br>
        <br>
        1.What type of meal do you serve during the trekking?
        <br>
        Ans: Many of the lodges, guest houses and tea houses on our trekking trail provides you the meal as per their menu. You will get different continental foods, soups, noodles, rice dishes and many more. While in some trekking routes you will get the menu with limited food items including Nepali Thali set and instant noodle soup.
        <br>
        <br>
        2.I am going for camping trek, do I still need to eat in teahouses or lodges?
        <br>
        Ans:During the camping trek, our expert cooks will go along with you who will prepare your meal. You do not have many multioptions on food while doing a camping trekking.
        <br>
        <br>
        3.Do I get Vegetarian/Non-vegetarian food in Mountains?
        <br>
        Ans: Yes, you can get vegetarian food of your choice according to menu in every destinations. In case of Non. veg food items, it depends upon the particular place. It may not be available in some places.
        <br>
        <br>
        4.Do my package includes all meals during Nepal stay?
        <br>
        Ans: Yes, we provide full board meal during the entire trekking but we provide room including breakfast only in city areas like Pokhara, Kathmandu, Chitwan etc. because it will be easy for you to get the food of your choice in different restaurant and cafe.
        <br>
        <br>
        5.How safe is the food?
        <br>
        Ans: Food Safety is always a big concern while travelling. We obviously choose best hotels, teahouses, restaurants which provide clean, safe and hygienic foods. In case of camping trek, our chef will provide freshly prepared tasty and healthy food.
        <br>
        <br>
        <br>
        
        <h4 style="color: #c04619;">Insurance FAQs:-</h4>
        <br>
        <br>
        1.Do I need travel Insurance while trekking in Nepal?
        <br>
        Ans: We advise you to secure your travel insurance at least one week before departing from your country. Travel insurance is obligatory to trek in himalayas of Nepal. Your insurance should be comprehensive including helicopter rescue. These days different insurance policies are readily available through many airfare booking agents. We also inform you that Nepalese insurance companies do not have travel insurance policy for foreign nationals. We also request you to submit the copies of all legal insurance documents to our office before travelling with us.  
        
    </p>
</div>
</section>

{% endblock %}
   