{% extends 'first/menu.html' %}
{% load static %}
{% block title %}Gallery{% endblock %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'css/gal_css/lightbox.min.css' %}">
<script src="{% static 'js/gal_js/lightbox-plus-jquery.min.js' %}"></script>
<link  href="{% static 'js/gal_js/lightbox-plus-jquery.min.map' %}">
<style>
  .rows {
    /* display: -ms-flexbox;*/
    display: flex;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    /*padding: 0 10px;*/
    
  }
  
  /* Create four equal columns that sits next to each other */
  .columns {
    /* -ms-flex: 33.3%; */
    flex: 33.3%;
    padding: 0px;
  }

  .columns a img{
    vertical-align: middle;
    /*width: 100%;*/
    height : 300px;
  }
  .columns a img:hover,
  .columns a img:active {
    opacity: 100%;
    transform: scale(0.95);
     /* transform: scale(0.95); */
      transition: transform 0.3s, opacity 0.3s; 
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .columns {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .columns {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

</style>

<section style="background-color: #e6e4e4;padding-bottom: 10px;">
  
  <h2>Gallery</h2>
  
  <div class="rows js--section-about">  
  {% for galls in galler %}
        <div class="columns">
          <div class='gul'>
          <a href="{{galls.Image.url}}" data-lightbox="mygallery" data-title="{{galls.PicTitle}}">
          <img src="{{galls.Image.url}}" title="{{galls.HoverTitle}}" style="width:100%" alt="{{galls.HoverTitle}}">
          </a>
          </div>
        </div>
  {% endfor %}
  </div>
</section>

{% endblock %}
