{% extends 'first/menu.html' %}
{% load static %}
{% block body_block %}

<section class="visits  js--section-about">
    <div class="row">
        <h2>Trips</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it1.jpg' %}" alt="Lisbon"> <h3>Lisbon</h3> </a>
            
        </div>
    
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it2.jpg' %}" alt="San Francisco"><h3>Lisbon</h3></a>
            
        </div>
    
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it3.jpg' %}" alt="Berlin"><h3>Lisbon</h3></a>
            
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it2.jpg' %}" alt="Lisbon"><h3>Lisbon</h3></a>
            
        </div>
    
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it1.jpg' %}" alt="San Francisco"><h3>Lisbon</h3></a>
           
        </div>
    
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it3.jpg' %}" alt="Berlin"><h3>Lisbon</h3></a>
            
        </div>
    </div>

    <div class="row">
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it2.jpg' %}" alt="Lisbon"><h3>Lisbon</h3></a>
            
        </div>
    
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it1.jpg' %}" alt="San Francisco"><h3>Lisbon</h3></a>
           
        </div>
    
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it3.jpg' %}" alt="Berlin"><h3>Lisbon</h3></a>
            
        </div>
    </div>

    <div class="row">
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it2.jpg' %}" alt="Lisbon"><h3>Lisbon</h3></a>
            
        </div>
    
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it1.jpg' %}" alt="San Francisco"><h3>Lisbon</h3></a>
           
        </div>
    
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it3.jpg' %}" alt="Berlin"><h3>Lisbon</h3></a>
            
        </div>
    </div>

    <div class="row">
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it2.jpg' %}" alt="Lisbon"><h3>Lisbon</h3></a>
            
        </div>
    
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it1.jpg' %}" alt="San Francisco"><h3>Lisbon</h3></a>
           
        </div>
    
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it3.jpg' %}" alt="Berlin"><h3>Lisbon</h3></a>
            
        </div>
    </div>

    <div class="row">
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it2.jpg' %}" alt="Lisbon"><h3>Lisbon</h3></a>
            
        </div>
    
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it1.jpg' %}" alt="San Francisco"><h3>Lisbon</h3></a>
           
        </div>
    
        <div class="col span-1-of-3 box">
            <a href="#"><img src="{% static 'img/it3.jpg' %}" alt="Berlin"><h3>Lisbon</h3></a>
            
        </div>
    </div>
    
    </section>

{% endblock %}
   
